<h1>
    {{ title }}
</h1>

<nav>
    <ul>
        <li>
            <a routerLink="/heroes">Heroes List</a>
        </li>
        <li><a routerLink="/dashboard">Top 3 Heroes</a></li>
    </ul>
</nav>
<app-search></app-search>
<router-outlet></router-outlet>
<app-messages></app-messages>
