<div id="search-component">

    <label for="search-box"></label>
    <input id="search-box" #searchBox type="text" (input)="search(searchBox.value)"/>

    <ul class="search-result">
        <!-- async permet de souscrire à une valeur observable dans ngfor, heroes$ étant un observable<hero[]>-->
        <li *ngFor="let hero of heroes$ | async"><a routerLink="/detail/{{ hero.id }}">{{ hero.name }}</a></li>
    </ul>

</div>
