{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Modify Password{% endblock %}

{% block body %}
<h1>Modify Password</h1>

{{ form_start(passwordModifyForm) }}
{{ form_row(passwordModifyForm.newPassword.first) }}
{{ form_row(passwordModifyForm.newPassword.second) }}

<button type="submit" class="btn">Confirm</button>
{{ form_end(passwordModifyForm) }}
{% endblock %}