<h2>My Heroes</h2>

<div>
    <h3>Add a new Hero</h3>
    <label for="heroName">Name : </label>
    <input id="heroName" #heroName />

    <label for="heroRating">Rating:</label>
    <input type="range" id="heroRating" min="0" max="10" #heroRating />

    <button (click)="add(heroName.value, heroRating.value)">Add</button>
</div>

<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{ hero.id }}">
            <span class="badge">{{ hero.id }}</span
            >{{ hero.name }}
        </a>
        <button (click)="delete(hero)">X</button>
    </li>
</ul>
