.ticket
{
    width: 900PX;
    border: solid;
    border-color: black;
    margin-top: 10px;
    background-color: #CCCCCC;
}

span *
{
    background-color: #CCCCCC;
    margin-top: 0px;
}



.date
{
    font-size: 0.7em;
    font-weight: bold;
    font-style: italic;
    padding-left: 10px;
}


p
{
    padding: 10px;
}

.auteur
{
    padding-left: 10px;
}




h3
{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1em;
    margin-bottom: 0px;
}

button
{
    background-color: white;
}










