{% extends 'base.html.twig' %}

{% block title %} Création de Produit{% endblock %}

{% block body %}
{{ form_start(productForm)}}
{{ form_row(productForm.nom)}}
{{ form_row(productForm.description)}}
{{ form_row(productForm.prix)}}
<button type="submit">Submit</button>
{{ form_end(productForm)}}
{% endblock %}
