{% extends 'base.html.twig' %}

{% block title %}Produit Liste{% endblock %}

{% block body %}
{% for product in products %}

<div>
    <h2>
        {{product.nom}}
    </h2>
    <p>
        {{product.description}}    
    </p>
    <p>
        {{(product.prix/100) | format_currency('EUR', locale='fr')}}    
    </p>
</div>
{% endfor %}

{% endblock %}
